[;{:class origami.filters.Resize :factor 0.7}
  {:class origami.filters.FPS}
  {:class origami.filters.ClojureFilter
   :fn "(fn[mat] (org.opencv.imgproc.Imgproc/applyColorMap mat mat 3) mat)"}
  {:class origami.filters.Annotate
   :text "I am having a second one"
   :point "50,250"
   :fontSize 1
   :thickness 2
   :color "90,0,0"}
  ]